.movies-card-list {
  padding: 70px 70px 10px;
}

.movies-card-list__container {
  display: grid;
  row-gap: 40px;
}

@media screen and (max-width: 1023px) {
  .movies-card-list {
    padding: 60px 30px 30px;
  }
}

@media screen and (max-width: 371px) {
  .movies-card-list {
    padding: 40px 10px 20px;
  }
}
