.page-not-found {
  display: flex;
  justify-content: center;
}

.page-not-found__error {
  margin: 246px auto 0;
  font-size: 140px;
  line-height: 169px;
}

.page-not-found__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 39px auto 0;
}

.page-not-found__back {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 184px auto 0;
}

.page-not-found__anchor {
  text-decoration: none;
  color: #ff6838;
}

.page-not-found__anchor:hover {
  text-decoration: underline;
  color: rgb(177, 31, 31);
}

@media screen and (max-width: 1023px) {
  .page-not-found__error {
    margin: 408px auto 0;
  }

  .page-not-found__container {
    margin-bottom: 222px;
  }
}
