.techs {
  background: #f5f5f5;
  padding: 100px 70px;
}

.techs__title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0;
  padding-bottom: 28px;
  border-bottom: 1px solid black;
}

.techs__header {
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: normal;
  margin: 90px auto 0;
}

.techs__paragraph {
  margin: 26px auto 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.tech__stack-container {
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 690px;
}

.tech__stack {
  background: #e8e8e8;
  max-width: 90px;
  width: 100%;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 50px;
  }

  .tech__stack-container {
    margin: 83px auto 0;
    max-width: 648px;
  }

  .tech__stack {
    max-width: 84px;
  }
}

@media screen and (max-width: 750px) {
  .tech__stack-container {
    display: grid;
    grid-template-columns: 84px 84px 84px 84px;
    grid-template-rows: 57px;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 547px) {
  .techs {
    background: #fff;
    padding: 70px 14px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
  }

  .techs__header {
    margin: 60px auto 0;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__paragraph {
    margin: 24px auto 0;
    font-size: 11px;
    line-height: 16px;
  }

  .tech__stack {
    font-size: 12px;
    line-height: 15px;
  }

  .tech__stack-container {
    margin: 50px auto 0;
    max-width: 178px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .tech__stack-container {
    grid-template-columns: 84px 84px 84px;
  }
}

@media screen and (max-width: 340px) {
  .tech__stack-container {
    grid-template-columns: 84px 84px;
  }
}
