.more-movies {
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
}

.more-movies__button {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  max-width: 320px;
  width: 100%;
}

.more-movies__button:hover {
  cursor: pointer;
  background: #ff6838;
  color: #fff;
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .more-movies {
    padding: 50px 40px 80px;
  }

  .more-movies__button {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
